.section-app {
    display: none;
    width: 100%;
}

.btn-logout {
    appearance: none;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    margin-left: auto;
    background-color: #fff;
    width: max-content;
    border-radius: 10px;
    margin-bottom: 30px;
}