.section-app {
    width: 100%;
}

.btn-logout {
    appearance: none;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    margin-left: auto;
    background-color: #fff;
    width: max-content;
    border-radius: 10px;
    margin-bottom: 30px;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tab {
    display: none;
}

.tab.is-active {
    display: block;
}

.tab-btn {
    appearance: none;
    padding: 20px 40px;
    text-decoration: none;
    background-color: #417FC8;
    border-radius: 10px;
    color: #fff;
    border: none;
}

.tab-btn.is-active {
    background-color: #f44336;
}

@media screen and (max-width: 767px) {
    .tab-btn {
        padding: 15px 30px;
    }
}
